<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Loại thẻ</title>
    <!-- base:css -->
    <link rel="stylesheet" th:href="@{../admin/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../admin/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../admin/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{../admin/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller d-flex">
    <!-- partial:../../partials/_sidebar.html -->
    <div th:insert="../templates/pages/sidebar.html"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <div th:insert="../templates/pages/navbar.html"></div>

        <h1 style="text-align: center; margin-top: 50px;" class="title"><strong>Xem thẻ điện thoại</strong></h1>
        <br>

        <!--search and filter-->
        <div class="row" style="text-align: center;">
            <div class="col-sm-3">
                <button class="btn btn-sm btn-outline-success" onclick="window.location.href='/cardType/create'">Tạo
                     thẻ mới
                </button>
            </div>

            <!--            <div class="col-sm-9">-->
            <!--                <form id="filter-form" action="/account/filter" method="get">-->
            <!--                    <input type="checkbox" name="role" value="1" th:checked="${role != null && role.contains(1)}">-->
            <!--                    <label for="admin">Quản trị viên</label>-->
            <!--                    <input type="checkbox" name="role" value="2" th:checked="${role != null && role.contains(2)}">-->
            <!--                    <label for="customer">Khách hàng</label>-->
            <!--                    <input type="checkbox" name="is-deleted" value="0"-->
            <!--                           th:checked="${isDeleted != null && isDeleted.contains(0)}">-->
            <!--                    <label for="true">Đang hoạt động</label>-->
            <!--                    <input type="checkbox" name="is-deleted" value="1"-->
            <!--                           th:checked="${isDeleted != null && isDeleted.contains(1)}">-->
            <!--                    <label for="false">Bị khóa</label>-->
            <!--                    <input type="text" placeholder="Tìm tên đăng nhập" name="username" th:value="${username}">-->
            <!--                    <button class="btn btn-sm btn-outline-success">Lọc</button>-->
            <!--                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="resetForm()">Bỏ-->
            <!--                        lọc-->
            <!--                    </button>-->
            <!--                </form>-->
            <!--            </div>-->

        </div>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-12">
                    <div th:if="${listCard!=null}">
                        <table class="col-sm-8 table table-striped table-hover">
                            <tr>
                                <th>Trạng thái</th>
                                <th>Nhà phát hành</th>
                                <th>Số seri</th>
                                <th>Mã thẻ</th>
                                <th>Giá bán</th>
                                <th>Ngày hết hạn</th>
                                <th>Chi tiết</th>
                            </tr>
                            <div class="container-fluid">
                                <div th:each="card : ${listCard}">
                                    <tr>
                                        <td>
                                            <div class="form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                       th:checked="${card.isDeleted}?'false':'true'"
                                                       th:id="'status'+${card.id}"
                                                       th:onchange="setActive([[${card.id}]],[[${card.isDeleted}]])">
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-info" href="/publisher" th:text="${card.cardType.publisher.name}"></a>
                                        </td>
                                        <td>
                                            <p th:text="${card.seriNumber}"> vnđ</p>
                                        </td>
                                        <td>
                                            <p th:text="${card.cardNumber}"> vnđ</p>
                                        </td>
                                        <td>
                                            <p th:text="${card.cardType.money.unitPrice}"> vnđ</p>
                                        </td>
                                        <td>
                                            <p th:text="${card.expiryDate}"></p>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-success" href="">Xem thêm</a>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </table>
                    </div>
                    <span th:text="${error}" style="color: red;">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function setActive(id, isDeleted) {
        var s = isDeleted ? "kích hoạt" : "xóa";
        var checkbox = document.getElementById("status" + id);
        if (confirm("Bạn muốn " + s + " loại thẻ này?")) {
            window.location.href = "/cardAdmin/setActive?id=" + id + "&isDeleted=" + !isDeleted;
        } else {
            if (isDeleted){
                checkbox.checked = false;
            } else {
                checkbox.checked = true;
            }
        }
    }

    function resetForm() {
        window.location.href = "/card";
    }

</script>
<script th:src="@{../admin/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../admin/js/jquery.cookie.js" type="text/javascript"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../admin/js/off-canvas.js"></script>
<script src="../admin/js/hoverable-collapse.js"></script>
<script src="../admin/js/template.js"></script>
</body>

</html>