<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Cart</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <style>
        .remove-item {
            cursor: pointer;
        }

        #quantityInput {
            width: 60px;
            text-align: center;
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->


    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header th:insert="publics/header.html"></header>
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Cart</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Home</a></li>
                        <!-- <li><a href="/cart">Shop</a></li> -->
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Shopping Cart -->
    <div class="shopping-cart section">
        <div class="container">
            <div th:if="${cart != null and not cart.isEmpty()}">
                <div class="cart-list-head">
                    <!-- Cart List Title -->
                    <div class="cart-list-title">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-12">

                            </div>
                            <div class="col-lg-1 col-md-1 col-12">

                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <p>Publisher</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <p>Price</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <p>Quantity</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <p>Subtotal</p>
                            </div>
                            <div class="col-lg-1 col-md-2 col-12">
                                <p>Remove</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Cart List Title -->
                    <!-- Cart Single List list -->
                    <div class="cart-single-list" th:each="cartItem : ${cart}">
                        <div class="row align-items-center">
                            <!-- Checkbox Column -->
                            <div class="col-lg-1 col-md-1 col-12">
                                <input type="checkbox" class="form-check-input" onchange="" id="select-${cartItem.id}">
                            </div>
                            <!-- Image Column -->
                            <div class="col-lg-1 col-md-1 col-12">
                                <img th:src="@{'/images/' + ${cartItem.cardType.publisher.image}}"
                                    th:alt="${cartItem.cardType.publisher.name}">
                            </div>
                            <!-- Publisher Column -->
                            <div class="col-lg-3 col-md-3 col-12">
                                <h5 class="product-name">
                                    <p th:text="${cartItem.cardType.publisher.name}"></p>
                                </h5>
                            </div>
                            <!-- Price Column -->
                            <div class="col-lg-2 col-md-2 col-12">
                                <p
                                    th:text="${#numbers.formatDecimal(cartItem.cardType.money.unitFund, 1, 'POINT', 0, 'COMMA')} + ' VND'">
                                </p>
                            </div>
                            <!-- Quantity Column -->
                            <div class="col-lg-2 col-md-2 col-12">
                                <input class="cardTypeId" type="hidden" name="cardTypeId"
                                    th:value="${cartItem.cardType.id}">
                                <input class="quantityInput" id="quantityInput" th:max="${cartItem.cardType.inStock}"
                                    th:data-total="${cartItem.cardType.money.unitFund}" type="number" name="quantity"
                                    th:value="${cartItem.quantity}" min="1" required>
                                <div id="quantityError" class="invalid-feedback" style="display: none;">
                                    Please enter a valid quantity.
                                </div>
                            </div>
                            <!-- Subtotal Column -->
                            <div class="col-lg-2 col-md-2 col-12">
                                <p class="total"
                                    th:text="${#numbers.formatDecimal(cartItem.getTotal, 1, 'POINT', 0, 'COMMA')} + ' VND'">
                                </p>
                            </div>
                            <!-- Remove Column -->
                            <div class="col-lg-1 col-md-2 col-12">
                                <a class="remove-item" th:data-cart-item-id="${cartItem.id}"
                                    onclick="handleDeleteCartItem(this)"><i class="lni lni-close"></i></a>
                            </div>
                        </div>
                    </div>


                    <!-- End Single List list -->

                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Total Amount -->
                        <div class="total-amount">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="right">
                                        <ul>
                                            <li><b>Cart Subtotal</b><span id="subtotal"></span></li>
                                        </ul>
                                        <div class="button">
                                            <a id="checkoutButton" href="#"
                                                class="btn btn-primary disabled">Checkout</a>
                                            <a href="product-grids.html" class="btn btn-alt">Continue shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ End Total Amount -->
                    </div>
                </div>
            </div>

            <div th:if="${cart == null or cart.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    Your cart is empty.
                </div>
                <div class="button">
                    <a href="/products" class="btn btn-alt">Continue shopping</a>
                </div>
            </div>

        </div>
    </div>
    <!--/ End Shopping Cart -->

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <script>
        // 0. check quantityInput's value
        document.addEventListener("DOMContentLoaded", function () {
            var quantityInputs = document.querySelectorAll(".quantityInput");

            quantityInputs.forEach(function (quantityInput) {
                quantityInput.addEventListener("change", function () {
                    var currentValue = parseFloat(quantityInput.value);
                    var maxValue = parseFloat(quantityInput.getAttribute("max"));
                    var minValue = 1; // Minimum value should be 1

                    // Check if the input value is not a number or less than 1
                    if (isNaN(currentValue) || currentValue < 1) {
                        quantityInput.value = quantityInput.defaultValue; // Reset to the last valid value
                    } else if (currentValue > maxValue) {
                        quantityInput.value = maxValue; // Set to the maximum allowed value
                    } else if (!Number.isInteger(currentValue)) {
                        quantityInput.value = Math.round(currentValue); // Round to the nearest integer
                    }
                });
            });
        });
    </script>

    <script>
        // 1. Preloader control - fix
        $(document).ready(function () {
            setTimeout(function () {
                $('.preloader').fadeOut('slow');
            }, 2000);
        });

        // 2. check quantity box empty or not
        document.getElementById('quantityForm').addEventListener('submit', function (event) {
            var quantityInput = document.getElementById('quantityInput');
            if (!quantityInput.checkValidity()) {
                event.preventDefault();
                document.getElementById('quantityError').style.display = 'block';
            }
        });

        // 3. Delete cart
        function handleDeleteCartItem(anchor) {
            const cartItemId = anchor.dataset.cartItemId;

            fetch('/cart/delete?cartItemId=' + cartItemId, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url; // Redirect to cart page after deletion
                    }
                });
        }
    </script>

    <script>
        // 4. Update quantity dynamically both each product and the subtotal.
        $(document).ready(function () {
            // check if there is any button checked to disable the button
            function updateCheckoutButton() {
                var hasCheckedItems = false;
                $(".cart-single-list").each(function () {
                    var checkbox = $(this).find(".form-check-input");
                    if (checkbox.prop("checked")) {
                        hasCheckedItems = true;
                        return false; // Exit the loop early if any checkbox is checked
                    }
                });

                $("#checkoutButton").toggleClass("disabled", !hasCheckedItems);
            }

            $(".form-check-input").change(function () {
                updateCheckoutButton();
            });

            // Initial check on page load
            updateCheckoutButton();
            function calculateCartTotal() {
                var total = 0;
                var hasCheckedItems = false;
                $(".cart-single-list").each(function () {
                    var checkbox = $(this).find(".form-check-input");
                    if (checkbox.prop("checked")) {
                        hasCheckedItems = true;
                        var subtotalText = $(this).find(".total").text().replace(" VND", "");
                        var subtotalNumber = parseFloat(subtotalText.replace(/\./g, "").replace(",", "."));
                        total += subtotalNumber;
                    }
                });
                var formattedTotal = Intl.NumberFormat('de-DE').format(total) + " VND";
                $("#subtotal").text(formattedTotal);
                $("#checkoutButton").prop("disabled", !hasCheckedItems);
            }

            $(".form-check-input").change(function () {
                calculateCartTotal();
            });

            calculateCartTotal();

            $(".quantityInput").on("change blur", function () {
                var quantityInput = $(this);
                var newQuantity = quantityInput.val();
                var cardTypeId = quantityInput.closest('.cart-single-list').find('.cardTypeId').val();
                var unitPrice = quantityInput.data("total");
                var newSubtotal = newQuantity * unitPrice;
                var formattedSubtotal = Intl.NumberFormat('de-DE').format(newSubtotal) + " VND";
                quantityInput.closest('.cart-single-list').find(".total").text(formattedSubtotal);
                calculateCartTotal();

                $.ajax({
                    url: "/cart/updateQuantity",
                    type: "POST",
                    data: {
                        quantity: newQuantity,
                        cardTypeId: cardTypeId
                    },
                    success: function (response) {
                        // Optionally, handle success response from the backend if needed
                    },
                    error: function (error) {
                        console.error("Error updating quantity:", error);
                    }
                });
            });

            $("#checkoutButton").click(function (event) {
                event.preventDefault();
                var selectedItems = [];
                $(".cart-single-list").each(function () {
                    var checkbox = $(this).find(".form-check-input");
                    if (checkbox.prop("checked")) {
                        var cardTypeId = $(this).find('.cardTypeId').val();
                        var quantity = $(this).find('.quantityInput').val();
                        selectedItems.push({ cardTypeId: cardTypeId, quantity: quantity });
                    }
                });

                if (selectedItems.length > 0) {
                    $.ajax({
                        url: "/order/checkout",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(selectedItems),
                        success: function (response) {
                            window.location.href = "/order";
                        },
                        error: function (error) {
                            console.error("Error during checkout:", error);
                        }
                    });
                }
            });
        });
    </script>

    <!-- Start Footer Area -->
    <footer class="footer" th:insert="publics/footer.html">

    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>