<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Quên mật khẩu</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/LineIcons.3.0.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/tiny-slider.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/glightbox.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <!-- Start Header Area -->
    <header th:insert="publics/header.html"></header>
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Quên mật khẩu</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Home</a></li>
                        <li>Quên mật khẩu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Account Register Area -->
    <div class="account-login section">
        <div class="container">

            <div th:if="${param.error}" class="error-container">
                <div class="alert alert-danger">Không tìm thấy tài khoản nào với email được cung cấp.</div>
            </div>
            <div th:if="${param.errorForgot5M}" class="error-container">
                <div class="alert alert-danger">Email này hiện đang bị khóa 5 phút, đợi 5 phút sau và thử lại.</div>
            </div>
            <div class="error-container alert alert-danger" th:text="${error}"></div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <form action="/forgotPassword" th:object="${user}" class="card login-form" method="post">
                        <div class="card-body">
                            <div class="title">
                                <h3>Tìm tài khoản của bạn</h3>
                                <p>Vui lòng nhập địa chỉ email của bạn để tìm kiếm tài khoản của bạn.</p>
                            </div>
                            <div class="form-group input-group">
                                <label for="reg-fn">Email</label> <input class="form-control" type="email" id="email"
                                    name="email" th:value="*{email}" required>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="text-danger"></p>
                                <p>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Xác nhận</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- End Account Register Area -->
    <!-- Start Footer Area -->
    <footer class="footer" th:insert="publics/footer.html">
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>