<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Order Details</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg"/>

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/LineIcons.3.0.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/tiny-slider.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/glightbox.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
</head>

<body>
<!-- Start Header Area -->
<header th:insert="/publics/header.html"></header>
<!-- End Header Area -->

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Order Details</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/index"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="/orderlist">Order List</a></li>
                    <li>Order Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Order Details Area -->
<div class="order-details section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-12">
                <div class="order-details-content">
                    <div class="title mb-4">
                        <h3>Order Details</h3>
                        <p>Details for your order.</p>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Số Seri</th>
                                <th scope="col">Mã Thẻ</th>
                                <th scope="col">Nhà Phát Hành</th>
                                <th scope="col">Mệnh Giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="card : ${cards}">
                                <td th:text="${card.seriNumber}"></td>
                                <td th:text="${card.cardNumber}"></td>
                                <td th:text="${card.cardType.publisher.name}"></td>
                                <td th:text="${card.cardType.money.unitFund}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <a href="/order" class="btn btn-secondary">Back to Order List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Order Details Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top"><i class="lni lni-chevron-up"></i></a>

<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>
