<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Đăng ký</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <!-- Start Header Area -->
    <header th:insert="publics/header.html"></header>
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Đăng ký</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Trang chủ</a></li>
                        <li>Đăng ký</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Account Register Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>Đăng ký tài khoản</h3>
                        </div>
                        <form id="form-register" action="register" class="row" method="post" th:object="${user}">
                            <!-- Id -->
                            <div >
                                <input type="text" th:value="${idCaptcha}" name="idCaptcha" hidden="hidden"/>
                            </div>
                            <!-- End Id -->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="username" class="required">Tên đăng nhập</label>
                                    <input th:value="*{username}" class="form-control" type="text" id="username" name="username" required>
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname" class="required">Tên</label>
                                    <input th:value="*{firstname}" class="form-control" type="text" id="firstname" name="firstname" required>
                                    <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Họ</label>
                                    <input th:value="*{lastname}" class="form-control" type="text" id="lastname" name="lastname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email-input" class="required">Email</label>
                                    <input th:value="*{email}" class="form-control" type="email" id="email-input" name="email" required>
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone-input">Số điện thoại</label>
                                    <input th:value="*{phone}" class="form-control" type="text" id="phone-input" name="phone">
                                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password-input" class="required">Mật khẩu</label>
                                    <input th:value="*{password}" class="form-control" type="password" id="password-input" name="password" required >
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="repassword-input" class="required">Xác thực mật khẩu</label>
                                    <input th:value="*{repassword}" class="form-control" type="password" id="repassword-input" name="repassword" required >
                                    <p th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" class="text-danger"></p>
                                </div>
                            </div>
                            <!-- Captcha -->
                            <div th:insert="~{publics/captcha.html}"></div>
                            <!-- Captcha -->
                            <div class="button">
                                <button class="btn" onclick="registerSubmit('form-register')" type="submit">Đăng ký</button>
                            </div>
                            <div class="text-center">
                                <span style="color: red;" th:text="${error}"></span>
                            </div>
                            <p class="outer-link">Bạn đã có tài khoản? <a href="login">Đăng nhập!</a></p>
                        </form>                        
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Account Register Area -->
    <!-- Start Footer Area -->
    <footer class="footer" th:insert="publics/footer.html">
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/validate.js"></script>
</body>

</html>