<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Đổi lại mật khẩu</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg"/>

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/LineIcons.3.0.css"/>
    <link rel="stylesheet" href="../assets/css/tiny-slider.css"/>
    <link rel="stylesheet" href="../assets/css/glightbox.min.css"/>
    <link rel="stylesheet" href="../assets/css/main.css"/>

</head>

<body>
<!-- Preloader -->
<!-- <div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span> <span></span>
        </div>
    </div>
</div> -->
<!-- /End Preloader -->

<!-- Start Header Area -->
<header th:insert="publics/header.html"></header>
<!-- End Header Area -->

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Đổi lại mật khẩu</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Account Change Password Area -->
<div class="account-login section">
    <div class="container">

        <div th:if="${resetted}" class="success-container">
            <div class="alert alert-info">Mật khẩu của bạn được đặt lại thành công. Nhấp vào <a href="/login">đây</a> để quay lại trang đăng nhập.</div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form" action="/forgotPassword/reset" method="post" th:object="${user}">
                    <div class="card-body">
                        <div class="title">
                            <h3>Đổi lại mật khẩu</h3>
                            <p>Vui lòng nhập mật khẩu mới của bạn và nhập lại mật khẩu một lần nữa.</p>
                        </div>
                        <div class="form-group input-group">
                            <label for="new-pass">Mật khẩu mới</label>
                            <input th:field="*{newPassword}" name="newPassword" class="form-control" type="password"
                                   id="new-pass" required>
                            <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                               class="text-danger"></p>
                        </div>
                        <div class="form-group input-group">
                            <label for="confirm-pass">Xác nhận mật khẩu</label>
                            <input th:field="*{confirmPassword}" name="confirmPassword" class="form-control"
                                   type="password" id="confirm-pass"
                                   required>
                            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                               class="text-danger"></p>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Đặt lại mật khẩu</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Account Change Password Area -->

<footer class="footer" th:insert="publics/footer.html"></footer>

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i></a>

<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>
