<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thông tin tài khoản chi tiết</title>
    <!-- base:css -->
    <link rel="stylesheet" th:href="@{../admin/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../admin/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../admin/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{../admin/images/favicon.png}" />
</head>

<body>
    <div class="container-scroller d-flex">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:insert="../templates/pages/sidebar.html"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:./partials/_navbar.html -->
            <div th:insert="../templates/pages/navbar.html"></div>
            <div class="account-login section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                            <div class="register-form">
                                <h1 style="text-align: center;" class="title"><strong>Thông tin tài khoản chi tiết</strong></h1>
                                <!--missing id of form-->
                                <div class="row" th:object="${user}">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="username" class="required">Tên đăng nhập</label>
                                            <input th:value="*{username}" class="form-control" type="text" id="username"
                                                name="username" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname" class="required">Tên</label>
                                            <input th:value="*{firstName}" class="form-control" type="text"
                                                id="firstname" name="firstname" readonly>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">Họ</label>
                                            <input th:value="*{lastName}" class="form-control" type="text" id="lastName"
                                                name="lastName" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email-input" class="required">Email</label>
                                            <input th:value="*{email}" class="form-control" type="email"
                                                id="email-input" name="email" readonly>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone-input">Số điện thoại</label>
                                            <input th:value="*{phone}" class="form-control" type="text" id="phone-input"
                                                name="phone" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- endinject -->
                <!-- Plugin js for this page-->
                <script src="../admin/js/hoverable-collapse.js"></script>
</body>

</html>